[user]
	email = 88557639+lishaduck@users.noreply.github.com
	name = Eli

[github]
	user = lishaduck

[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
	ignorecase = false
    filemode = true
    repositoryformatversion = 1
    bare = false
    logallrefupdates = true
	autocrlf = true

[init]
    defaultbranch = main

[pull]
	rebase = true

[push]
	default = simple
	followTags = true

[fetch]
	prune = true

[grep]
	lineNumber = true

[help]
	autocorrect = 1

[alias]
	amend = commit --amend --reuse-message=HEAD
