[user]
	name = Eli
	email = 88557639+lishaduck@users.noreply.github.com
	signingKey = 1BC4FC9EF0CD60D85BE3EF3A80B1E7655F4DF911

[github]
	user = lishaduck

[core]
	excludesFile = ~/.gitignore_global
	editor = code --wait
	filemode = true
	repositoryformatversion = 1
	logAllRefUpdates = true
	autoCrlf = false
	fsMonitor = false

[include]
	path = ~/.local.gitconfig

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	default = upstream
	followTags = true
	autoSetUpRemote = true

[fetch]
	fsckObjects = true
	prune = true
	pruneTags = true

[rebase]
	autoStash = true
	autoSquash = true
	updateRefs = true
	missingCommitsCheck = error

[status]
	submoduleSummary = true

[branch]
	sort = -committerdate

[grep]
	lineNumber = true

[diff]
	algorithm = histogram
	colorMoved = default
	guitool = vscode
	submodule = log

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	conflictStyle = zdiff3
	keepBackup = false
	guitool = vscode

[mergetool "vscode"]
	cmd = code --wait $MERGED

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	amend = commit --amend --reuse-message=HEAD
	pushall = !git remote | xargs -L1 git push --all
	graph = log --decorate --oneline --graph --shortstat

[color]
	ui = true

[sequence]
	editor = code --wait --reuse-window

[gpg]
	format = openpgp
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe

[commit]
	gpgSign = true

[tag]
	forceSignAnnotated = true

[rerere]
	enabled = true

[submodule]
	recurse = true

[feature]
	manyFiles = true

[transfer]
	fsckObjects = true

[receive]
	fsckObjects = true
