[user]
	name = Eli
	email = 88557639+lishaduck@users.noreply.github.com

[github]
	user = lishaduck

[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
	ignorecase = false
	filemode = true
	repositoryformatversion = 1
	logAllRefUpdates = true
	autocrlf = false

[init]
	defaultbranch = main

[pull]
	rebase = true

[push]
	default = upstream
	followTags = true

[fetch]
	prune = true

[rebase]
	autoStash = true

[grep]
	lineNumber = true

[diff]
	guitool = vscode

[diff "lockb"]
	textconv = bun
	binary = true

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	guitool = vscode

[mergetool "vscode"]
	cmd = code --wait $MERGED

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	amend = commit --amend --reuse-message=HEAD

[color]
	ui = true

[sequence]
	editor = code --wait --reuse-window
