[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/omz/plugins/oh-my-zsh-reminder"]
	path = zsh/omz/plugins/oh-my-zsh-reminder
	url = https://github.com/AlexisBRENON/oh-my-zsh-reminder.git
