[user]
	email = 88557639+lishaduck@users.noreply.github.com
	name = lishaduck

[github]
	user = lishaduck

[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
	ignorecase = false

[pull]
	rebase = true

[init]
	defaultBranch = main

[push]
	default = simple
	followTags = true

[fetch]
	prune = true
    lease

[grep]
	lineNumber = true

[help]
	autocorrect = 1

[alias]
	amend = commit --amend --reuse-message=HEAD
